ul.nav-desktop {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #252525;
}

ul.nav-mobile{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #252525;
}

ul.sidenav{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: white;
}


li.nav-list {
  float: left;
}

li.sidenav-list a{
    color: #252525;
    font-size: 16px;
}

li.sidenav-list-header{
    margin-right:20px;
    padding: 20px;
    font-size: 22px;
}


li a, .nav-dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover, .nav-dropdown:hover .dropbtn {
  background-color: white;
  text-decoration: none;
}

li.nav-dropdown {
  display: inline-block;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav-dropdown-content a:hover {
    background-color: #f1f1f1;
    text-decoration: none;
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
  background-color: white;
}

.nav-left{
    float: left;
}

.nav-right{
    float: right;
}

.nav-home{
    font-size: 18px;
    color: white;
    font-weight: bold;
}

/* This is for small screens */
@media only screen and (max-width: 840px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile{
      display: show;
  }
  .sidenav{
      display: none;
  }
}


/* This is for big screens */
@media only screen and (min-width: 841px) {
  .nav-desktop {
    display: show;
  }
  .nav-mobile{
      display: none;
  }
  .sidenav{
      display: none;
  }
}
