<ul>
  <li><a href="{{ path_for('home') }}">Home</a></li>
  <li><a href="#">News</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="{{ path_for('authentication.signup') }}">Sign up</a></li>
</ul>
